body {
    background-image: url("../../images/zigzag-background.jpg");
}
.head {
    text-align: center;
    background-color: #89a9a5;
    padding: 3%;
    margin-bottom: 2%;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 3.5%;
    border: 5px groove grey;
    border-radius: 5px;
}
li{
    background-color: white;
    margin-right: 10%;
}

h1{
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about {
    background-color: white;
    text-align: center;
    padding: 15px;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border: 18px groove #89a9a5;
}