#galleryContainer {
    max-width: 90%; 
    margin: 2rem auto;
    padding: 2rem;
    border: 12px groove #FF3800;
    border-radius: 6px;
    background-color: white;
    box-shadow: 15px 19px 5px 0px rgba(103, 99, 99, 0.33);
    margin-top: 5%;
}

#likeBtn {
    border-radius: 100%;
}

.cardEle.cardEle {
    max-width: 75%;
    max-height: 50%;
    margin: 2rem auto;
    padding: 1.4rem;
}

.imgs.imgs {
    width: auto;
    height: 10rem;
}

.galItem {
    margin-top: 7%;
}