#imageEle {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

.likes.likes {
    margin-top: 2%;
    margin-bottom: 2%;
}

#galleryContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    border: 12px groove #FF3800;
    border-radius: 6px;
    background-color: white;
    box-shadow: 15px 19px 5px 0px rgba(103, 99, 99, 0.33);
}

#likeBtn {
    border-radius: 100%;
}